
.body {
    background-color: black;
    font-family: "Handlee", cursive;
}

.heading {
    font-size: 50px;
    text-align: center;
}

h1 {
    color: aqua;
}

.para {
    font-size: 20px;
    font-weight: lighter;
}

.section {
    width: auto;
    height: auto;
    border-style: solid;
    border-radius: 5px;
    margin: 5px 15px;
}

.banner-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: drop-shadow(2px 4px 6px aqua);
}

.elements {
    color: springgreen;
    font-size: 15px;
}

.quote {
    text-align: right;
    padding: 5px 10px;
    color: red;
}

progress {
    width: 70%;
}

#home {
    color: aqua;
    box-shadow: 1px 2px 4px aqua;
}

#aboutMe {
    border-color: wheat;
    box-shadow: 1px 2px 4px wheat;
    color: wheat;
}

#skills {
    border-color: aquamarine;
    box-shadow: 1px 2px 4px aquamarine;
    color: aquamarine;
}

#contactMe {
    border-color: pink;
    box-shadow: 1px 2px 4px pink;
    color: pink;
}

input,
textarea {
    margin: 5px;
    font-size: 11pt;
    padding: 15px;
    border-radius: 10px;
    width: 60%;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin-right: 6px;
}

.main-logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}