
.body {
    background-color: black;
    font-family: "Handlee", cursive;
}

.heading {
    font-size: 3.125rem;
    text-align: center;
}

h1 {
    color: aqua;
}

.para {
    font-size: 1.25rem;
    font-weight: lighter;
}

.section {
    width: auto;
    height: auto;
    border-style: solid;
    border-radius: 0.3125rem;
    margin: 0.1325rem 0.9375rem;
}

.banner-image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    filter: drop-shadow(0.13rem 0.3rem 0.4rem aqua);
}

.elements {
    color: springgreen;
    font-size: 0.9375rem;
}

.quote {
    text-align: right;
    padding: 0.1325rem 0.6rem;
    color: red;
}

progress {
    width: 70%;
}

#home {
    color: aqua;
    box-shadow: 0.06rem 0.13rem 0.3rem aqua;
}

#aboutMe {
    border-color: wheat;
    box-shadow: 1px 0.13rem 0.3rem wheat;
    color: wheat;
}

#skills {
    border-color: aquamarine;
    box-shadow: 1px 0.13rem 0.3rem aquamarine;
    color: aquamarine;
}

#contactMe {
    border-color: pink;
    box-shadow: 1px 0.13rem 0.3rem pink;
    color: pink;
}

input,
textarea {
    margin: 0.1325rem;
    font-size: 0.7rem;
    padding: 0.9375rem;
    border-radius: 0.6rem;
    width: 60%;
}

.logo {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    text-align: center;
    margin-right: 0.4rem;
}

.main-logo {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
}
